
@font-face {
  font-family: 'BlackChancery';
  src: url('BlackChancery.eot?#iefix') format('embedded-opentype'),  url('BlackChancery.woff') format('woff'), url('BlackChancery.ttf')  format('truetype'), url('BlackChancery.svg#BlackChancery') format('svg');
  font-weight: normal;
  font-style: normal;
}
